<!DOCTYPE html>
{% load sekizai_tags i18n microsite pipeline optional_include %}
{% load url from future %}
<html lang="{{LANGUAGE_CODE}}">
<head>
  <meta charset="UTF-8">
  {% block title %}<title>{% platform_name %}</title>{% endblock %}

 <link rel="icon" type="image/x-icon" href="{% favicon_path %}" />

  {% stylesheet 'style-vendor' %}
  {% stylesheet 'style-main' %}
  {% stylesheet 'style-course-vendor' %}
  {% stylesheet 'style-course' %}

  {% block main_vendor_js %}
  {% javascript 'main_vendor' %}
  {% endblock %}
  {% block headextra %}{% endblock %}
  {% render_block "css" %}

  {% optional_include "head-extra.html" %}

  <meta name="path_prefix" content="{{EDX_ROOT_URL}}">
</head>

<body class="{% block bodyclass %}{% endblock %} lang_{{LANGUAGE_CODE}}">
  <div class="window-wrap" dir="${static.dir_rtl()}">
    <a class="nav-skip" href="{% block nav_skip %}#content{% endblock %}">{% trans "Skip to main content" %}</a>
    {% with course=request.course %}
      {% include "header.html" %}
    {% endwith %}
    {% block sidebar %}{% endblock %}
    <div class="content-wrapper" id="content">
      {% block body %}{% endblock %}
      {% block bodyextra %}
      <script type="text/javascript">
        $(function() {
          // adding js class for styling with accessibility in mind
          $('body').addClass('js');

          // new window/tab opening
          $('a[rel="external"], a[class="new-vp"]').click(function() {
            window.open( $(this).attr('href') );
            return false;
          });

          // form field label styling on focus
          $("form :input").focus(function() {
             $("label[for='" + this.id + "']").parent().addClass("is-focused");
           }).blur(function() {
             $("label").parent().removeClass("is-focused");
           });
        });
      </script>
      {% include "body-extra.html" %}
    {% endblock %}
    </div>
    {% with course=request.course %}
      {% include "themable-footer.html" %}
    {% endwith %}

  </div>

    {% javascript 'application' %}
    {% javascript 'module-js' %}

    {% render_block "js" %}
</body>
</html>

{% comment %}
  This is a django template version of our main page from which all
  other pages inherit. This file should be rewritten to reflect any
  changes in main.html! Files used by {% include %} can be written
  as mako templates.

  Inheriting from this file allows us to include apps that use the
  django templating system without rewriting all of their views in
  mako.
{% endcomment %}
